:root {
    --primary-color: #000814;
    --secondary-color: #003049;
    --tertiary-color: #d62828;
}

body{
background-color: var(--primary-color);
 }

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-tertiary{
    background-color: var(--tertiary-color);
}

.text-white{
    text-align: center;
}

.card-lg{
    color: white; 
    margin: 20px 0 40px 60px;
}

.col-3{
    margin-bottom: 50px;
}

.container-fluid{
    background-color: var(--secondary-color);
}